<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!-- 1.自动扫描注解包 contest命名空间 base-package:带有注释类的包名路径 -->
	<context:component-scan base-package="com" />

	<!-- 2.配置处理器映射驱动使用注解方式(处理器映射支持注解驱动) -->
	<mvc:annotation-driven />

	<!-- 3.配置视图解析器 视图名与视图对应 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/" /><!-- 前缀，后缀 /aa/main.jsp -->
		<property name="suffix" value=".jsp" />

	</bean>

	<!-- 4.对于静态资源的特殊处理/映射(location:真实路径 mapping:对外映射路径) -->
	<mvc:resources location="/statics/" mapping="/statics/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/jsp/" mapping="/jsp/**" />


	<!-- 5.上传下载,配置解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="52428800" /><!-- 最大上传大小(单位:字节kB)：50M -->
	</bean>



	<!-- 只处理servlet请求 -->
	<!-- <mvc:default-servlet-handler/> -->

	<!-- 异常处理(方法二) key:自定义的异常类 error:逻辑视图名(error.jsp的名字) -->
	<!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
		<property name="exceptionMappings"> <props> <prop key="java.lang.RuntimeException">error</prop> 
		</props> </property> </bean> -->





</beans>




